html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image__logo {
  width: 44px;
  height: 38px;
}

.header__button {
  display: flex;
  gap: 20px;
}

.search__icon {
  width: 26px;
  height: 26px;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  padding: 2px 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.burger__line {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}

.header__label {
  position: relative;
  width: 100px;
}

.header__search {
  background-color: transparent;
  outline: none;
  width: 100%;
  border: none;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.products-preview__section {
  background-color: #f1e4e6;
}

.products-preview__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.preview__image {  
  transform: translateX(-150px);
  object-fit: cover;
}

.products-preview__right {
  flex-shrink: 0;  
}

.title-text__container {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;   
  position: relative;
  
}

.title-text__subtitle {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.title-text__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 12px;
  height: 100%;
  background-color: #f16d7f;
}

.title-text__title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}

.text__title {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.text__title--color {
  color: #f16d7f;
}

.offer__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  gap: 30px;
}

.offer__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.offer__card::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer__card:hover::before {
  opacity: 0;
}

.offer__card-image1 {
  background-image: url("../images/for_women.png");
}

.offer__card-image2 {
  background-image: url("../images/for_men.png");
}

.offer__card-image3 {
  background-image: url("../images/for_kids.png");
}

.offer__card-image4 {
  background-image: url("../images/accesories.png");
}

.offer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.offer__card:nth-child(4n) {
  grid-column: 1 / 4;
  height: 180px;
}

.offer__subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.offer__title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.product-items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.products-items__title {
  text-align: center;
}

.product-item__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product__item {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.product__top {
  position: relative;
}

.product__top:hover::before {
  opacity: 0.7;
  visibility: visible;
}

.product__top:hover .product__button {
  opacity: 1;
  visibility: visible;
}

.product__top::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.product__image {
  object-fit: cover;
  width: 100%;
}

.product__button {
  padding: 11px 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 140px;
}

.add-to-card{
  width: 25px;
  height: 25px;
}

.product__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 24px 16px;
}

.product__text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin: 24px 16px;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 24px 16px;
}

.products__button {
  background-color: #ffffff;
  border: 1px solid #f26376;
  padding: 15px 40px;
  text-align: center;
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1150px) {
  .products-preview__container {
    gap: 30px;
  }
  .offer__card {
    height: 200px;    
  }
}

@media (max-width: 1024px){
  .container {
    max-width: 995px;    
  }
  .product-item__container {    
    grid-template-columns: repeat(2, 1fr);    
  }

  .preview__image {  
    transform: translateX(-100px);
    
  }  
}

@media (max-width: 992px){
  .container {
    max-width: 962px;    
  }

}

@media (max-width: 768px){
  .container {
    max-width: 738px;    
  }
  
  .image__logo {
    width: 44px;
    height: 36px;
  }

  .search__icon {
    width: 26px;
    height: 26px;
  }

  .image__button {
    width: 29px;
    height: 30px;
  }

  .preview__image {  
    transform: translateX(0px);    
  }  

  .title-text__title{
    font-size: 44px;
  }

  .text__title {
    font-size: 24px;
  }

  .offer__cards {
    gap: 20px;
  }

  .offer__card {
    height: 160px;    
  }

  .offer__card:nth-child(4n){
    height: 110px;

  }

}

@media (max-width: 572px) {
  .container {
    max-width: 540px;   
  }

  .header__button a{
    display: none;
  }
  .products-preview__container {
    justify-content: center;
    height: 365px;
  }

  .products-preview__left {
    display: none;
  }

  .offer__cards {
    grid-template-columns: 1fr;
  }

  .offer__card:nth-child(4n) {
    grid-column: 1 / 2;
    height: 160px;
  }

  .product-item__container{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 290px;   
    padding: 0 5px; 
  }


}